body {
  background: #1a6300;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h3 {
  margin: 0.5ch;
  padding: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #e4e4e4;
  background: #1a6300;
}

.scroll {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  max-width: 100%;
  background: #ff2ee6;
  z-index: 99;
}

/* NAV */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.nav__link {
  width: 100%;
}
.nav__link > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav__item {
  padding: 1ch 2ch;
  align-self: center;
}
.nav__item:hover {
  color: currentColor;
  transition: color 0.75s;
}
.nav__item:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}
.nav__item:after {
  content: "";
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 0.2ch;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.75s;
}

.navbrand {
  background: #1a6300;
  height: 3.5em;
}

.solid {
  background: #8c007c;
}
.solid .brand {
  color: #1a6300;
}

.brand {
  padding: 1em 0 0 1em;
  display: inline-block;
  font-size: 1.2rem;
}

.toggler {
  background: url(/img/hamburger.png);
  cursor: pointer;
  display: inline-block;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 1ch;
  top: 1ch;
  transition: 0.75s;
}
.toggler.active {
  background: url("/img/cross.png");
}
.toggler:hover {
  scale: 1.1;
}

.collapsed {
  display: none;
}

/* END NAV */
main {
  width: 100%;
}

#intro {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
#intro > div > h1 {
  font-size: 3rem;
}

#big__intro {
  color: #8c007c;
}

/* ABOUT */
#about {
  background: #8c007c;
}

#big__about {
  padding: 1em;
  font-size: 2rem;
  text-align: center;
  color: #53dd21;
}

.profile_tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.image-container img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
.image-container > p {
  padding: 2em;
  margin: 0;
  text-align: center;
  line-height: 1.7;
}

.image-container,
.tools {
  width: 100%;
}

.tools {
  text-align: center;
  margin-bottom: 2em;
}
.tools > h3 {
  margin: 0;
}
.tools > ul {
  display: grid;
  grid: auto/repeat(2, 1fr);
}
.tools > ul > li {
  color: #53dd21;
  line-height: 2;
  font-size: 1.3rem;
}

/* END ABOUT */
/* FOOTER */
footer {
  margin-top: auto;
  font-weight: 700;
  padding: 2em;
}
footer > .heart {
  color: #8c007c;
}
footer > a {
  color: #ff2ee6;
}

@media only screen and (min-width: 992px) {
  .navbrand {
    height: 4em;
  }

  .brand {
    display: inherit;
    align-self: center;
    color: #8c007c;
    margin-left: 2ch;
    font-size: 1.5rem;
  }

  .toggler {
    display: none;
  }

  .nav__link {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
  }
  .nav__link > ul {
    flex-direction: row;
  }

  .collapsed {
    display: inherit;
  }

  #intro > div > h1 {
    font-size: 5rem;
  }

  #big__about {
    padding: 2em;
    font-size: 3rem;
  }

  .profile_tools {
    flex-direction: row;
  }

  .image-container, .tools {
    margin-bottom: 7em;
  }

  .tools {
    margin-top: 5em;
  }
}

/*# sourceMappingURL=index.css.map */
